<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zincmedia.formulaforthrillsportugal"
        version="1.0.9"
        versionCode="17"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0" >

    <name>Matuta</name>
    <description>
        Matuta - Siemens Formula for Thrills Portugal
    </description>
    <author email="cat@catcodes.com" href="http://catcodes.com">
        Catalin Magirescu
    </author>

    <!-- default icon & splash -->
    <icon src="icon.png" />
    <splash src="splash.png" />

    <!-- reset icon & splash -->
    <icon gap:platform="ios" src="res/ios/icon-small.png" width="29" height="29" />
    <icon gap:platform="ios" src="res/ios/icon-36.png" width="36" height="36" />
    <icon gap:platform="ios" src="res/ios/icon-40.png" width="40" height="40" />
    <icon gap:platform="ios" src="res/ios/icon-40@2x.png" width="80" height="80" />
    <icon gap:platform="ios" src="res/ios/icon-48.png" width="48" height="48" />
    <icon gap:platform="ios" src="res/ios/icon-50.png" width="50" height="50" />
    <icon gap:platform="ios" src="res/ios/icon.png" width="57" height="57" />
    <icon gap:platform="ios" src="res/ios/icon-small@2x.png" width="58" height="58" />
    <icon gap:platform="ios" src="res/ios/icon-60.png" width="60" height="60" />
    <icon gap:platform="ios" src="res/ios/icon-62.png" width="62" height="62" />
    <icon gap:platform="ios" src="res/ios/icon-64.png" width="64" height="64" />
    <icon gap:platform="ios" src="res/ios/icon-72.png" width="72" height="72" />
    <icon gap:platform="ios" src="res/ios/icon-76.png" width="76" height="76" />
    <icon gap:platform="ios" src="res/ios/icon-small@3x.png" width="87" height="87" />
    <icon gap:platform="ios" src="res/ios/icon-96.png" width="96" height="96" />
    <icon gap:platform="ios" src="res/ios/icon-50@2x.png" width="100" height="100" />
    <icon gap:platform="ios" src="res/ios/icon@2x.png" width="114" height="114" />
    <icon gap:platform="ios" src="res/ios/icon-60@2x.png" width="120" height="120" />
    <icon gap:platform="ios" src="res/ios/icon-128.png" width="128" height="128" />
    <icon gap:platform="ios" src="res/ios/icon-72@2x.png" width="144" height="144" />
    <icon gap:platform="ios" src="res/ios/icon-76@2x.png" width="152" height="152" />
    <icon gap:platform="ios" src="res/ios/icon-167.png" width="167" height="167" /> XXX
    <icon gap:platform="ios" src="res/ios/icon-173.png" width="173" height="173" />
    <icon gap:platform="ios" src="res/ios/icon-60@3x.png" width="180" height="180" />
    <icon gap:platform="ios" src="res/ios/icon-256.png" width="256" height="256" />

    <icon gap:platform="android" src="res/android/ldpi.png" density="ldpi" />
    <icon gap:platform="android" src="res/android/mdpi.png" density="mdpi" />
    <icon gap:platform="android" src="res/android/hdpi.png" density="hdpi" />
    <icon gap:platform="android" src="res/android/xhdpi.png" density="xhdpi" />
    <icon gap:platform="android" src="res/android/xxhdpi.png" density="xxhdpi" />
    <icon gap:platform="android" src="res/android/xxxhdpi.png" density="xxxhdpi" />


    <splash gap:platform="ios" src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
    <splash gap:platform="ios" src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash gap:platform="ios" src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash gap:platform="ios" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash gap:platform="ios" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash gap:platform="ios" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash gap:platform="ios" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash gap:platform="ios" src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash gap:platform="ios" src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <splash gap:platform="ios" src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>

    <splash gap:platform="android" src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>
    <splash gap:platform="android" src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>


    <!-- all platforms -->
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0xffD7D7CD"/>
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="SplashScreenDelay" value="5000" />

    <!-- plugins -->
    <plugin name="cordova-plugin-splashscreen" source="npm" />

    <!-- iOS only preferences -->
    <preference name="EnableViewportScale" value="false"/>
    <preference name="SuppressesIncrementalRendering" value="true"/>
    <preference name="GapBetweenPages" value="0"/>
    <preference name="PageLength" value="0"/>
    <preference name="PaginationBreakingMode" value="page"/>
    <preference name="PaginationMode" value="unpaginated"/>
    <preference name="UIWebViewDecelerationSpeed" value="fast" />
    <preference name="target-device" value="universal" />
    <preference name="deployment-target" value="7.0" />
    <preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />
    <preference name="CordovaDefaultWebViewEngine" value="CDVUIWebViewEngine" />
    <preference name="SuppressesLongPressGesture" value="true" />
    <preference name="Suppresses3DTouchGesture" value="true" />

    <!-- Android only preferences -->
    <preference name="KeepRunning" value="false"/>

    <!-- iOS only icons & splash -->
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/ios/icon-76.png" width="76" height="76" />
        <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
        <icon src="res/ios/icon-40.png" width="40" height="40" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <icon src="res/ios/icon-72.png" width="72" height="72" />
        <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-50.png" width="50" height="50" />
        <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
        <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>

    <!-- Android only icons & splash -->
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
        <icon src="res/android/xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/xxxhdpi.png" density="xxxhdpi" />
        <splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>
        <splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>
        <splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>
        <splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>
        <splash src="res/screen/android/splash-land-xxhdpi.png" density="land-xxhdpi"/>
        <splash src="res/screen/android/splash-land-xxxhdpi.png" density="land-xxxhdpi"/>
        <splash src="res/screen/android/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/screen/android/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/screen/android/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/screen/android/splash-port-xhdpi.png" density="port-xhdpi"/>
        <splash src="res/screen/android/splash-port-xxhdpi.png" density="port-xxhdpi"/>
        <splash src="res/screen/android/splash-port-xxxhdpi.png" density="port-xxxhdpi"/>
    </platform>

    <content src="index.html" />
    <access origin="" />

</widget>
